# Archivos y carpetas de Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Carpetas de compilación
bin/
obj/

# Archivos de configuración local
*.dbmdl
*.log
*.cache
*.csproj.user

# Archivos de VS Code
.vscode/
